body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FFFBF0;
}

.penguin-nav {
    background-color: #FFFBF0;
}

.penguin-intro h1 {
    font-family: 'Bebas Neue';
    font-size: 80px;
}

.text-color-orange {
    color: #e0a537;
}

.text-color-navy-blue {
    color: #363958;
}

.penguin-button {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}

.penguin-button {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border: 0px;
}

section {
    padding-bottom: 20px;
    padding-top: 20px;
}

section h1 {
    font-family: 'Bebas Neue';
    font-size: 48px;
}

.jacket-bg {
    background-color: rgb(223, 228, 233);
    padding: 20px;
}

.jacket {
    border: 0;
}

.text-color-red {
    color: rgb(226, 63, 63);
}

.penguin-card-footer {
    background-color: white;
    border: 0;
}

.last-part {
    font-family: 'Bebas Neue';
    text-align: center;
}

.shoes {
    border: 0;
}

.shoes-bg {
    background-color: rgb(223, 228, 233);
    padding: 20px;
}

.card-title {
    font-weight: 700;
    color: #363958;
}

h3 {
    font-weight: 700;
}

.discount {
    text-decoration: underline;
}