.penguin-intro h1 {
    font-family: 'Bebas Neue';
    font-size: 80px;
}

.text-color-orange {
    color: #FABE4C;
}

.text-color-navy-blue {
    color: #363958;
}

.penguin-button {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}

.penguin-button {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border: 0px;
}

section {
    padding-bottom: 20px;
    padding-top: 20px;
}

section h1 {
    font-family: 'Bebas Neue';
    font-size: 48px;
}

.jacket-bg {
    background-color: rgb(223, 228, 233);
    padding: 20px;
}

.jacket {
    border: 0;
}